.navegacion__lista--item{
    text-decoration: none;
    letter-spacing: 2px;
    font-family: var(--texto-family);
    font-size: .8rem;
    margin: 5px;
    background-color: white;
    color: #888;
    border-radius: 10px;
    padding: 5px;
    transition: all .5s;
    font-weight: 300;
}


.navegacion__lista--item:hover{
    border-bottom: 2px solid var(--color-importante);

}