.skills__titulo{
    line-height: 3;
    text-align: center;
    font-family: 'Poppins', 'Open-Sans', 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    border-top: 1px solid #Ddd;
}