.skills__container--cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width:768px){
    .skills__container--cajas{
        justify-content: flex-start;
    }
}