.pie-de-pagina__important-mesagge{
    letter-spacing: 5px;
    text-decoration: underline;
    text-align: center;
}

.pie-de-pagina__important-mesagge:hover{
    text-decoration: double underline;
    text-decoration-color: aquamarine;
}