.skills__container--cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

@media screen and (min-width:768px) and (max-width:1023px){
    .skills__container--cajas{
        justify-content: flex-start;
    }
}

@media screen and (min-width:1024px) {
    .skills__container--cajas{
        justify-content: center;
    }
}