.skills__container--layer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 35, 178, 0.6);
    border-radius: 10px;
    border: 5px solid #ddd  ;
    margin: 2%;
}