.skills__caja__imagen{
    /* background: url('../../img/skills/html.png'); */
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 1rem auto;
}