.skills__container--layer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #555;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    margin: 2%;
    padding: 2%;
}