.skills__titulo{
    line-height: 3;
    text-align: center;
    font-family: 'Poppins', 'Open-Sans', 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    color: var(--color-importante);
}