.cifrador{
    background: url('../../img/cifrador.png');
}

.ahorcado{
    background: url('../../img/ahorcado.png');
}

.proyecto__imagen{
    width: 90%;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    transition: all 1s;
}

.proyecto__imagen:hover{
    scale: 1.5;
}

@media screen and(min-width:768px) {
    .proyecto__imagen{
        width: 100%;
        height: 300px;
    }
}