.btn{
    border: none;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    font-family: var(--texto-family);
    letter-spacing: 2px;
    color:#fff;
    text-align: center;
    margin: 10px auto;
    text-transform: capitalize;
    max-width: 300px;
    transition: .5s all;
}

.proyecto__boton-visitar {
    background-color: var(--background-encabezado);
}
.proyecto__boton-repositorio{
    background-color: var(--color-importante);
}

.btn:hover{
    opacity: 70%;
    scale: 1.1;
}

@media screen and (min-width:768px) {
    .btn{
        width: calc(33% - 2rem);
        margin: 0;
    }
}