.hobbies__caja{
    background-color: var(--color-blanco);
    width: calc(47% - 2rem);
    box-sizing: border-box;
    box-shadow: 5px 2px 25px #000;
    margin: 1rem;
    padding: .2rem;
    cursor: pointer;
}

.hobbies__caja:hover{
    scale: 1.3;
}