.videojuegos{
    background: url('../../img/hobbies/videogames.png');
}

.music{
    background: url('../../img/hobbies/music.png');
}

.programming{
    background: url('../../img/hobbies/programming.webp');
}

.running{
    background: url('../../img/hobbies/running.ico');
}

.sports{
    background: url('../../img/hobbies/sports.png');
}

.walk{
    background: url('../../img/hobbies/walk.png');
}

.hobbies__caja__imagen {
    width: 90%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    margin: auto;
}
